# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/vcwss-angular/dist
/vcwss-angular/tmp
/vcwss-angular/out-tsc

# dependencies
/vcwss-angular/node_modules
/express-server/node-modules

# IDEs and editors
/vcwss-angular/.idea
/vcwss-angular/.project
/vcwss-angular/.classpath
/vcwss-angular/.c9/
/vcwss-angular/*.launch
/vcwss-angular/.settings/
/vcwss-angular/*.sublime-workspace

# IDE - VSCode
/vcwss-angular/.vscode/*
/vcwss-angular/!.vscode/settings.json
/vcwss-angular/!.vscode/tasks.json
/vcwss-angular/!.vscode/launch.json
/vcwss-angular/!.vscode/extensions.json

# misc
/vcwss-angular/.sass-cache
/vcwss-angular/connect.lock
/vcwss-angular/coverage
/vcwss-angular/libpeerconnection.log
/vcwss-angular/npm-debug.log
/vcwss-angular/testem.log
/vcwss-angular/typings

# e2e
/vcwss-angular/e2e/*.js
/vcwss-angular/e2e/*.map

# System Files
/vcwss-angular/.DS_Store
/vcwss-angular/Thumbs.db
