$theme-color: #f05050;
.tagline {
	background-color: #f6f6f6;
	font-size: 10px;
	color: #2d2e2e;
	border-bottom: 0.1px solid lightgrey;
	.email {
		display: inline-block;
		vertical-align: top;
		margin-right: 20px;
		padding: 11px 0;
		font-size: 13px;
		font-weight: 500;
		font-smoothing: antialiased;
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		a{
			transition: all 300ms;
			-webkit-transition: all 300ms;
		}
	}
	.pull-left i {
		font-weight: 400;
		display: inline-block;
		margin-right: 5px;
	}
}
.navbar-vcwss .navbar-nav>.active>a, .navbar-vcwss .navbar-nav>.active>a:hover, .navbar-vcwss .navbar-nav>.active>a:focus,
.navbar-vcwss .navbar-nav>.open>a, .navbar-vcwss .navbar-nav>.open>a:hover, .navbar-vcwss .navbar-nav>.open>a:focus,
.navbar-vcwss .navbar-nav>li>a:hover, .navbar-vcwss .navbar-nav>li>a:focus, .submenu-dropdown{
	color:$theme-color;
}
.navbar-vcwss {
	background: rgba(255, 255, 255, 0.95);
	padding: 0rem;
	width: 100%;
	z-index: 96;
	border: none;
	color: #333;
	border-radius: 0rem;
	font-weight: 600;
	transition: background-color 1s ease-in-out, border 1s ease-in-out;
	-moz-transition: background-color 1s ease-in-out, border 1s ease-in-out;
	-webkit-transition: background-color 1s ease-in-out, border 1s ease-in-out;
	-o-transition: background-color 1s ease-in-out, border 1s ease-in-out;
	-moz-box-shadow: 0 0.125rem 0.125rem rgba(0,0,0,.1);
	-webkit-box-shadow: 0 0.125rem 0.125rem rgba(0,0,0,.1);
	box-shadow: 0 0.125rem 0.125rem rgba(0,0,0,.1);
	.navbar-nav{
		>li>a{
			display: block;
			color: #555;
			font-size: 0.875rem;
			border-top: 0.25rem solid transparent;
			text-transform: uppercase;
			padding: 1rem 1rem;
		}
	}
	.navbar-form {
        margin-top: 10px;
		margin-bottom: 10px;
	}
	.navbar-language{
		>li{
			display: table;
			height: 54px;
			>a{
				font-size: 12px !important;
				display: table-cell;
				vertical-align: middle;
				>img{
					padding-left: 3px;
					height: 16px;
				}
			}
		}
		.signup{
			display: table;
			text-align: center;
			height: 54px;
			width: 60px;
			a{
				display: table-cell;
				vertical-align: middle;
				line-height: 20px;
				color: #555;
				font-size: 15px;
				font-weight: 400;
				text-transform: uppercase;
				-webkit-font-smoothing: antialiased;
				::hover{
					background: rgba(1,1,1,.1);
					cursor: pointer;
				}
			}
		}
		.loginSuccess{
			a{
				text-transform: none !important;
			}
		}
		.navbar-langtxt{
			display: none;
		}
		.inputbox{
			margin-left:-30px;
			overflow:hidden;
		}
	}
}

.navbar-brand {
	>img{
		max-height: 100%;
		height: 100%;
		-o-object-fit: contain;
		object-fit: contain;
	}
}
.navbar-brand:hover {
	padding-top: 0.125rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
}

.navbar-vcwss .navbar-nav>.active>a, .navbar-vcwss .navbar-nav>.active>a:hover, .navbar-vcwss .navbar-nav>.active>a:focus,
.navbar-vcwss .navbar-nav>.open>a, .navbar-vcwss .navbar-nav>.open>a:hover, .navbar-vcwss .navbar-nav>.open>a:focus,
.navbar-vcwss .navbar-nav>li>a:hover, .navbar-vcwss .navbar-nav>li>a:focus {
	background-color: transparent;
}
.navbar-vcwss .navbar-nav > li > a:hover {
	background-color: #fff;
	box-shadow: 0px 2px 5px rgba(0,0,0,.1);
	box-shadow-bottom: 0px 0px 0px;
	border-top: 4px solid;
}
.dropdown{
	&:hover {
		.submenu {
			display: block;
		}
	}
	.submenu {
		display: none;
		z-index: 97;
		position: absolute;
		margin-top: -1px;
		top: 55px;
		left: 0;
		width: 100%;
		overflow: hidden;
		box-shadow: 0px 2px 5px rgba(0,0,0,.1);
		>ul.submenu-dropdown{
			text-transform: uppercase;
			list-style: none;
			padding-left: 0px;
			float: left;
			z-index: 98;
			width: inherit;
			transition: all .2s;
			>li>a{
				display: block;
				height: 40px;
				color: #777;
				display: block;
				padding: 0 15px;
				font-size: 0.875rem; 
				line-height: 40px; 
				background-color: #fff;
			}
			>li.active>a, >li>a:hover{
				font-size: 1rem;
				color: inherit;
				background-color: #fff;
				-webkit-font-smoothing: antialiased;
				-moz-font-smoothing: antialiased;
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.dropdown .submenu {
		display: none;
		z-index: 97;
		position: absolute;
		margin-top: -1px;
		top: 5px;
		left: 100px;
		width: 50%;
		overflow: hidden;
		box-shadow: 0px 2px 5px rgba(0,0,0,.1);
	}
}
.cl:before, .cl:after{ content:" "; display: table }
.cl:after { clear: both }
.cl { *zoom: 1 }


@media only screen and (max-width: 991px) {
	.navbar .container{
		width:100%;
	}
}
.input-group {
	width: 150px;
}
@media only screen and (max-width: 850px) and (min-width: 767px){
	.navbar-vcwss .navbar-langtxt{
		display: table;
	}

	.navbar-vcwss .navbar-language>li {
		display: none;
	}
	.navbar-vcwss .navbar-language>li>a {
		display: none;
	}
}
@media only screen and (max-width: 767px){
	.navbar-vcwss{
		.navbar-brand{
			padding: 0.625rem;
			height: auto;
		}
		.navbar-toggle {
			margin: 0.375rem,1rem, 0,0;
		}
	}
		.navbar-vcwss .inputbox{
			opacity:1 !important;
			width: auto !important;
			margin-left:-30px !important;
			transition: all .5s;
		}
		.navbar-vcwss .inputbox-out{
			opacity:1 !important;
			width: auto !important;
			margin-left:-30px !important;
			transition: all .5s;
		}
		#SearchTxt{
			display: none !important;
		}
		.navbar-form{
			padding: 0px 30px;
			border-top: 0px;
			border-bottom: 0px;
		}
		.navbar-vcwss .signup {
			display: block;
			text-align: left;
			height: 54px;
			width: auto;
		}
		.navbar-vcwss .nav-language>li {
			display: block;
			height: 54px;
		}
		.navbar-vcwss .nav-language>li>a {
			font-size: 12px !important;
			display: table-cell;
			vertical-align: left;
		}
		.navbar-vcwss .nav-language>li>a>img {
			height: 16px;
		}
		#language {
			display: none;
		}
		#language-sm {
			display: table;
		}
		.inputbox .input-group {
			width:90%;
		}
		.inputbox-out .input-group{
			width:90%;
		}
		.input-group .form-control {
			width: 65%;
		}
		.input-group .input-group-btn{
			position: absolute;
			left: 65%;
		}
}

