<div class="footer-bg">
<div class="pre-footer container">
    <div class="row">
      <div class="col-sm-6 footer-nav">
        <dl class="col-sm-5">
          <dt>友情链接</dt>
          <dd><a href="http://frankfurt.china-consulate.org/chn/">中国驻法兰克福总领事馆</a></dd>
          <dd><a href="http://www.cssa-munich.de">慕尼黑学联</a></dd>
        </dl>
        <dl class="col-sm-5">
          <dt class="partner"></dt>
          <dd><a href="http://www.feelnow.de/">飞诺旅游</a></dd>
        </dl>
      </div>
      <div class="col-sm-2 footer-nav">
        <dl>
          <dt>资源</dt>
          <dd>
            <a href="#">图片</a>
          </dd>
          <dd>
            <a href="#">下载</a>
          </dd>
        </dl>
      </div>
      <div class="col-sm-2 footer-nav">
          <dl>
            <dt>关于我们</dt>
            <dd>
              <a href="#">学联简介</a>
            </dd>
            <dd>
              <a href="#">联系我们</a>
            </dd>
            <dd>
              <a href="#">合作伙伴</a>
            </dd>
          </dl>
      </div>
      <div class="col-sm-2 footer-nav link-icons">
        <dl>
          <dt>关注我们</dt>
          <dd class="link-icon">
            <span class="fa fa-weixin">
            </span>
            <img src="../assets/QRcode.jpg" alt="微信二维码" style="border: 2px solid lightgrey;">
          </dd>
          <dd class="link-icon">
            <a href="https://www.youtube.com/channel/UCaDG5VT2M6b7XZ-X4hQ5G9Q"><span class="fa fa-youtube"></span></a>
          </dd>
        </dl>
      </div>
    </div>
</div>
<my-footer></my-footer>
</div>