<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title">VCWSS</h3>
        <p class="slog">每一次精彩都与你分享</p>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let gallery of galleryList" class="col">
        <div class="item-img-wrap">
          <img src="{{gallery.albumArt}}" class="img-responsive" alt="album art">
          <div class="item-img-overlay">
            <a href="#" class="show-image">
              <span></span>
            </a>
          </div>
        </div>
        <div class="work-desc">
          <h3>
            <a href="#">{{gallery.album}}</a>
          </h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center" style="margin-top:30px;">
        <a href="#" class="btn btn-custom">Mehr erfahren</a>
      </div>
    </div>
  </div>
</section>