<section parallax speed="5" src="../assets/ad-block.jpg" style="background-size: 100% cover auto">
    <div class="container">
        <div class="row">
        <article class="col-md-12 text-center">
            <div class="intermediate-container">
            <div class="subheading">
                <h4>{{subtitle}}</h4>
            </div>
            <div class="heading">
                <h2>{{title}}</h2>
            </div>
            <div>
                <a class="btn btn-parallax" href="#">
                <span>猛戳我</span>
                </a>
            </div>
            </div>
        </article>
        </div>
    </div>
</section>